.fehler {
    display: grid;
    grid-template-columns: 0.8fr 1.5fr 0.7fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
}
.fehlerAusgabe {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #fb8817;
}