.body{
    background-color: #f3f2f0;
}

.page {
    display: grid;
    grid-template-columns: 15% 85%;
    gap: 0px 0px;
    grid-template-areas:
    "herbList herbEdit";
    height: 100%;
    width: 100%;
    background-color: #f3f2f0;
}
.navBar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
    "logo . navBarUpper"
    "logo navBarLower .";
    grid-area: 1 / 1 / 2 / 3;
    list-style-type: none;
    background-color:#e3dedb ;
}
li {
    float: left;
    display: block;
    padding: 8px;
}
.logo{
    grid-area: logo;
    width:20rem;
    float: left;
}

.knopf{
    width: 5rem;
    gap: 6px 6px;
    cursor: pointer;
}
.fehler{
  grid-area: fehler;
  color: #c12127;
}

.navBarLower { grid-area: navBarLower; }
.navBarUpper { grid-area: navBarUpper; }
.herbList {
    grid-area: herbList;
}
.herbListHeader {
    grid-area: herbList;
    font-size: larger;
    color: #008800;
}
.herbEdit {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr;
    grid-template-rows: 0.3fr 1.3fr 1.4fr;
    gap: 5px 5px;
    grid-template-areas:
    ". herbName herbNameCategory"
    "picture1 herbDescription herbDescriptionCategory"
    "picture2 herbApplication herbApplicationCategory";
    grid-area: herbEdit;
}
.seekPicture1{
    grid-area: picture1;
}
.seekPicture2{
    grid-area: picture2;
}

uploadButton2{
    grid-area: picture2;
}
.picture1 {
    grid-area: picture1;
    height: 300px;
    width: 300px;
    }
.picture2 {
    grid-area: picture2;
    height: 300px;
}

.herbName {
    grid-area: herbName;
    background-color: #e3dedb;
    font-family: Arial;
    font-size: 30px;
    border: #eeeeee;

}
.herbDescription {
    grid-area: herbDescription;
    background-color: #e3dedb;
    font-family: "Arial";
    font-size: 15px;

}
.herbApplication {
    grid-area: herbApplication;
    background-color: #e3dedb;
    font-family: Arial;
    font-size: 15px;
    border: none;

}
.herbNameCategory {
    grid-area: herbNameCategory;
    background-color: #f3f2f0;
    font-family: Arial;
    font-size: 13px;
    margin-inside: 3px;
    padding: 30px 0px 0px 0px;
}
.herbDescriptionCategory {
    grid-area: herbDescriptionCategory;
    background-color: #f3f2f0;
    font-family: Arial;
    font-size: 13px;
    border: none;
}
.herbApplicationCategory {
    grid-area: herbApplicationCategory;
    background-color: #f3f2f0;
    font-family: Arial;
    font-size: 13px;
    border: none;
}

.createButton{
    grid-area: herbList;
    gap: 10px 5px;
}
.saveButton{
    padding: 30px 0px 0px 0px;
}
.pointer {
    cursor: pointer;
}
.deleteButton{
    padding: 30px 0px;
}