body, html {
    background-color: red;
}
.herbName{
    grid-area: 3 / 6 / 4 / 10;
}
.herbNameCategory{
    grid-area: 3 / 11 / 4 / 12;
}
.herbDescription{
    border: red solid 1px;
    grid-area: 4 / 6 / 8 / 10
}
.herbDescriptionCategory{
    grid-area: 4 / 11 / 5 / 12;
}
.herbApplication{
    border: blue solid 1px;
    grid-area: 8 / 6 / 12 / 10;
}
.herbApplicationCategory{
    border: green solid 1px;
    grid-area: 8 / 11 / 9 / 12;
}
