.page {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 0px 0px;
    grid-template-areas:
    "herbList herbEdit";
    height: 100%;
    width: 100%;
    background-color: #f3f2f0;
}
.navBar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "logo . navBarUpper"
    "logo navBarLower .";
    grid-area: 1 / 1 / 2 / 3;
    list-style-type: none;
    background-color:#e3dedb ;
}
li {
    float: left;
    display: block;
    padding: 8px;
}
.logo{
    width:10rem;
    grid-area: logo; }

.knopf{
    width: 4rem;
    gap: 0px 5px;
    cursor: pointer;
}

.navBarLower { grid-area: navBarLower; }
.navBarUpper { grid-area: navBarUpper; }
.herbList {
    grid-area: herbList;
}
.herbEdit {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.3fr 1.4fr;
    gap: 5px 5px;
    grid-template-areas:
    ". herbName herbNameCategory"
    "picture1 herbDescription herbDescriptionCategory"
    "picture2 herbApplication herbApplicationCategory";
    grid-area: herbEdit;
}
.picture1 {
    width:180px;
    grid-area: picture1; }
.picture2 { grid-area: picture2; }
.herbName { grid-area: herbName; }
.herbDescription { grid-area: herbDescription; }
.herbApplication { grid-area: herbApplication; }
.herbNameCategory { grid-area: herbNameCategory; }
.herbDescriptionCategory { grid-area: herbDescriptionCategory; }
.herbApplicationCategory { grid-area: herbApplicationCategory; }