.error{
    display: grid;
    grid-row: 2;
    position: absolute;
    color: red;
    top: 2.5em;
}

.header {
    position: absolute;
    top: 1rem;
    left: 40rem;
    font-size: 24px;
    font-family: "American Typewriter";
}
.logo{
    position: absolute;
    top: 1rem;
    left: 20rem;
    width: 150px;
}
.knopfRezepte{
    display: grid;
    grid-column: 1;
    position: absolute;
    top: 1rem;
    left: 60rem;
    width: 80px;
}
.buttonSave{
    position: absolute;
    top: 5rem;
    right: 10rem;
}
.buttonSaveHerb{
    grid-column: 3;
    grid-row: 7;
    width:15rem;
    margin: auto;
}
.buttonDeleteHerb{
    grid-column: 3;
    grid-row: 8;
    width:15rem;
    margin: auto;
}
.uploadBilder{
    grid-column: 3;
    grid-row:9;
}
.picturePlant1{
    grid-column: 1;
    width: 150px;
    heights : 150px;
}

